.button {
    @extend .color--white;
    border-radius: 28px;
    font-weight: bold;
    padding: 1rem 2rem;

    &--primary {
        @extend .bg-color--dark-blue;

        &:hover {
            @extend .bg-color--dark-blue-gray;
        }
    }

    &--gradient-1 {
        @extend .bg-color--gradient-1;

        &:hover {
            @extend .button-gradient--hover;
        }
    }

    &--gradient-2 {
        @extend .bg-color--gradient-2;

        &:hover {
            @extend .button-gradient--hover;
        }
    }

    &-gradient--hover {
        position: relative;
        overflow: hidden;

        &::before {
            background-color: rgba(255,255,255,0.5);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}