.color-sample {
    box-sizing: border-box;
    margin-bottom: 2.5rem;
    width: 45%;

    @include media('tablet') {
        width: 20%;
    }

    &__color {
        border: 1px solid $color-dark-blue-gray;
        border-radius: 10px;
        height: 125px;
        width: 100%;
    }

    &__name {
        margin-top: 1rem;
        text-align: left;
    }

    .text--s {
        font-weight: normal;

        span:first-child {
            margin-right: 10px;
        }
    }

    .color-optional {
        padding-left: 2.75rem;
    }
}