.counter {
    border-radius: 10px;
    box-shadow: 5px 35px 70px -10px rgb(151 151 151 / 50%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.5rem;
    width: fit-content;

    &__text {
        font-size: 16px;
        font-weight: bold;
    }

    &__total {
        font-size: 32px;
        font-weight: 800;
    }
}