.site-menu {
    &__list {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 3rem 0.5rem 0.5rem;

        @include media('tablet') {
            padding: 1.5rem 20% 0 10%;
        }

        @media (min-width: 1024px) {
            justify-content: space-between;
            padding: 1.5rem 22.5% 0 10%;
        }

        span {
            @extend .span-header-footer
        }
    }
}