.hero {
    @include flex-gap(3rem);
    justify-content: space-around;
    padding: 2rem 0.5rem 4rem;

    @include media('tablet') {
        justify-content: center;
        padding-bottom: 8rem;
    }

    @include media('desktop') {
        justify-content: space-around;
    }

    &-card{
        max-width: 51ch;

        @include media('tablet') {
            width: 45ch;
        }

        &__title {
            margin-bottom: 1.75rem;
        }

        &__text {
            margin-bottom: 1.5rem;
        }
    }

    &-image {
        position: relative;
        width: fit-content;

        @include media('tablet') {
            &::before {
                background: rgb(240,42,166);
                background: linear-gradient(0deg, rgba(240,42,166,1) 0%, rgba(72,81,255,1) 100%);
                border-radius: 150px;
                content: '';
                height: 200%;
                position: absolute;
                right: -100%;
                bottom: -10%;
                transform: rotate(45deg);
                width: 100%;
                z-index: -1;
            }
        }

        @include media('desktop') {
            margin-right: 10rem;

            &::before  {
                height: 150%;
                right: -65%;
            }
        }

        figure {
            border-radius: 50%;
            height: 253px;
            overflow: hidden;
            text-align: center;
            width: 253px;
            z-index: 0;

            @include media('tablet') {
                border-radius: 150px;
                height: auto;
                padding-top: 50px;
                width: 175px;
            }

            @include media('desktop') {
                padding-top: 75px;
                width: 300px;
            }

            img {
                width: 100%;
            }
        }

        .counter {
            position: absolute;
            z-index: 1;

            &--right    {
                right: -20px;

                @media (min-width: 350px ) {
                    right: -40px;
                }

                @media (min-width: 375px ) {
                    right: -50px;
                }

                @include media('desktop') {
                    right: -75px;
                    top: 100px;
                }
            }

            &--left  {
                bottom: 0;
                left: -20px;

                @media (min-width: 350px ) {
                    left: -40px;
                }

                @media (min-width: 375px ) {
                    left: -50px;
                }

                @include media('tablet') {
                    left: -90px;
                    bottom: -30px;
                }

                @include media('desktop') {
                    left: -75px;
                    top: 70%;
                    bottom: unset;
                }
            }
        }
    }
}