@import './settings/_reset.scss';
@import './settings/_variables.scss';
@import './settings/_font.scss';
@import './settings/_mixins.scss';
@import './settings/_layout.scss';
@import './settings/_global.scss';
@import './settings/_utils.scss';

@import './components/grid_list';
@import './components/color_sample';
@import './components/header';



.design-page {
    .design__container {
        margin-top: 5rem;
    }

    .grid-list {
        justify-content: center;
    }

    h2 {
        color: $color-dark-blue-gray;
        margin-bottom: 2.5rem;
    }

    main {
        @include media('desktop') {
            padding: 1rem 10rem;
        }
    }
}