---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import GridList from "../components/GridList.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Index" className="index-page">
	<Header>
		<button class="button button--primary" slot="menu-item-right">Get Started</button>
	</Header>
	<main>
		<Hero/>
		<GridList className="index-cards">
			<article class="card card--default bg-color--gradient-1">
				<h4>Check out our most popular courses!</h4>
			</article>
			<Card
			icon="running"
			title="Animation"
			content="Learn the latest animation techniques to create stunning motion design and captivate your audience."
			linkText="Get Started"
			/>
			<Card
			icon="design"
			title="Design"
			content="Create beautiful, usable interfaces to help shape the future of how the web looks."
			linkText="Get Started"
			/>
			<Card
			icon="camera"
			title="Photography"
			content="Explore critical fundamentals like lighting, composition, and focus to capture exceptional photos."
			linkText="Get Started"
			/>
			<Card
			icon="crypto"
			title="Crypto"
			content="All you need to know to get started investing in crypto. Go from beginner to advanced with this 54 hour course."
			linkText="Get Started"
			/>
			<Card
			icon="business"
			title="Business"
			content="A step-by-step playbook to help you start, scale, and sustain your business without outside investment."
			linkText="Get Started"
			/>
		</GridList>
	</main>
	<Footer></Footer>
</Layout>
