---
    const {name} = Astro.props;
---

<article class="color-sample">
    <div class={`color-sample__color bg-color--${name.split(" ").map(partialName => partialName.toLowerCase()).join("-")}`}>
    </div>
    <h4 class="color-sample__name">{name}</h4>
</article>