/* Mixins for gradients */
@mixin gradient-1 () {
    background: rgb(240,42,166);
    background: linear-gradient(0deg, rgba(240,42,166,1) 0%, rgba(255,111,72,1) 100%);
}

@mixin gradient-2 () {
    background: rgb(240,42,166);
    background: linear-gradient(0deg, rgba(240,42,166,1) 0%, rgba(72,81,255,1) 100%);
}