.color {
    &--dark-blue-gray {
        color: $color-dark-blue-gray;
    }

    &--dark-blue {
        color: $color-dark-blue;
    }

    &--waterloo {
        color: $color-waterloo;
    }

    &--violet-red {
        color: $color-violet-red;
    }

    &--pink {
        color: $color-pink;
    }

    &--white {
        color: $color-white;
    }
}

.bg-color {
    &--dark-blue-gray {
        background-color: $color-dark-blue-gray;
    }

    &--dark-blue {
        background-color: $color-dark-blue;
    }

    &--waterloo {
        background-color: $color-waterloo;
    }

    &--violet-red {
        background-color: $color-violet-red;
    }

    &--pink {
        background-color: $color-pink;
    }

    &--white {
        background-color: $color-white;
    }

    &--gradient-1 {
        @include gradient-1();
    }

    &--gradient-2 {
        @include gradient-2();
    }
}


.heading {
    &--xl {
        font-size: 56px;
    }

    &--l {
        font-size: 40px;
    }

    &--m {
        font-size: 32px;
        line-height: 40px;
    }

    &--s {
        font-size: 24px;
    }
}

.text {
    &--m {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }

    &--s {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
    }
}