/* Color Variables */
$color-dark-blue-gray: #666CA3;
$color-dark-blue: #13183F;
$color-waterloo: #83869A;
$color-violet-red: #F74780;
$color-pink: #FFA7C3;
$color-white: #FFFFFF;

/* Font Variable */
$jakarta-font: 'Plus-Jakarta-Sans', Arial, Helvetica, sans-serif;