---
import GridList from "../components/GridList.astro";

---

<footer class="site-footer bg-color--dark-blue">
    <GridList>
        <span class="color--white">skilled</span>
        <button class="button button--gradient-2" slot-name="">Get Started</button>
    </GridList>
</footer>