---
export interface Props {
	isDesignPage?: string;
}

const { isDesignPage } = Astro.props;
---

<header class="site-header">
    <nav class="site-menu">
        <ul class="site-menu__list">
            <li class="color--dark-blue">skilled</li>
            <li>
                <slot name="menu-item-right"></slot>
            </li>
        </ul>
    </nav>
</header>